
<router-outlet></router-outlet>

<div >
  <h1> Social Media Share buttons using ngx-sharebuttons</h1>  
  <h4>Facebook Share Button - Modern dark - with text</h4>
  <share-buttons theme="modern-dark"
  [include]="['facebook','twitter','linkedin']"
  [showIcon]="true"
  [showText]="true"
  [image]="'https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U'"
  description="Social Media Share Buttons testing"  
  class="pt-2">
  </share-buttons>

  <h4>Facebook Share Button - Modern dark - no icon</h4>
  <share-buttons theme="modern-dark"
    [include]="['facebook','twitter','linkedin']"
    [showIcon]="false"
    [showText]="true"
    url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"
    description="Social Media Share Buttons testing"  
    class="pt-2">
  </share-buttons>

  <h4>Facebook Share Button - circles-dark - no text</h4>
  <share-buttons theme="circles-dark"
    [include]="['facebook','twitter','linkedin']"
    [showIcon]="true"
    [showText]="false"        
    url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"
    description="Social Media Share Buttons testing"  
    class="pt-2">
  </share-buttons>  
</div>

<!-- https://developers.facebook.com/docs/plugins/share-button/# -->
<h4>Facebook Share Button - FB SDK </h4>
<div class="fb-share-button pt-2" 
  data-href="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" 
  data-layout="button" 
  data-size="large">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fi.picsum.photos%2Fid%2F237%2F200%2F300.jpg%3Fhmac%3DTmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
</div>
<h1>Tweet Share Button</h1>
<!-- <h4>Twitter Share Button - Modern dark - with text</h4>
  <share-buttons theme="modern-dark"
  [include]="['twitter']"
  [showIcon]="true"
  [showText]="true"
  url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"
  description="Social Media Share Buttons testing"  
  class="pt-2">
  </share-buttons>

  <h4>Twitter Share Button - Modern dark - no icon</h4>
  <share-buttons theme="modern-dark"
    [include]="['twitter']"
    [showIcon]="false"
    [showText]="true"
    url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"
    description="Social Media Share Buttons testing"  
    class="pt-2">
  </share-buttons>

  <h4>Twitter Share Button - circles-dark - no text</h4>
  <share-buttons theme="circles-dark"
    [include]="['twitter']"
    [showIcon]="true"
    [showText]="false"
    url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U"
    description="Social Media Share Buttons testing"  
    twitterAccount="yourTwitterAccount"
    class="pt-2">
  </share-buttons>   -->

  <h4>Twitter Share Button - JS SDK - with text </h4>
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet">
    Tweet</a>

  <h4>Twitter Share Button - JS SDK - with URL to share </h4>
  <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> -->
  <!--https://twitter.com/share?url=[post-url]&text=[post-title]&via=[via]&hashtags=[hashtags]-->

  <!--https://crunchify.com/list-of-all-social-sharing-urls-for-handy-reference-social-media-sharing-buttons-without-javascript/-->  

  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
    class="twitter-share-button" 
    data-url="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" 
    data-show-count="false">Tweet</a>
<div>

<h1>Linkedin Share Buttons </h1>  
  <h4>Linkedin - plugin</h4>  
  <!-- https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/plugins/share-plugin   -->
  <script type="IN/Share" data-url="https://www.linkedin.com"></script>
  <!-- https://www.linkedin.com/shareArticle?mini=true&url={articleUrl}&title={articleTitle}&summary={articleSummary}&source={articleSource} -->  
  
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U">Share</a>

</div>


    <!-- <share-buttons theme="modern-dark"
    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
    [showIcon]="true"
    [showText]="true"
    url=""
    description="Ngx Share Buttons"    
    class="pt-5">
  </share-buttons> -->

  <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div>
  